DATABASE_URL="DATABASE_URL="postgresql://postgres:252005@Kartikey@localhost:5432/browser_use_dashboard""
BETTER_AUTH_SECRET="RmvVn0JAgmBIfMXNdivwhNYcztqWFMX6FI99BS3T3uE="
BETTER_AUTH_URL="http://localhost:3000"
BROWSER_USE_API_KEY="replace-with-your-browser-use-api-key"
